<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>bi.edu.upg.etudiants.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <listener>
        <listener-class>bi.edu.upg.etudiants.contextlistener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AddEtudiant</servlet-name>
        <servlet-class>bi.edu.upg.etudiants.servlet.AddEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseSrvlet</servlet-name>
        <servlet-class>bi.edu.upg.etudiants.servlet.DatabaseSrvlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEtudiant</servlet-name>
        <url-pattern>/AddEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseSrvlet</servlet-name>
        <url-pattern>/DatabaseSrvlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
